sudo: true

# Specifying none will let us define CXX and CC in the way we want.
# See more: https://github.com/travis-ci/travis-ci/issues/6083
language: none

addons: &addons
  apt:
    packages: &common_deps
      - cmake
      - binutils-gold
      - llvm-5.0-dev
      - libclang-5.0-dev
      - clang-5.0
    sources: &sources
      - ubuntu-toolchain-r-test
      - llvm-toolchain-trusty-4.0
      - llvm-toolchain-trusty-5.0

cache:
  pip: true
  apt: true
  ccache: true
  directories:
    - $HOME/.ccache

env:
  global:
    - USE_CCACHE=1
    - CCACHE_COMPRESS=1
    - CCACHE_MAXSIZE=500M
    - CCACHE_CPP2=1

matrix:
  # Abort all builds on a single failing matrix entry.
  fast_finish: true

  exclude:
    # Note: Workaround travis-ci/travis-ci#4681
    # Exclude default job which lacks our included environment variables.
    - os: osx
    - os: linux

  include:
    # GCC 5
    - env: CXX=g++-5 CC=gcc BUILD_TYPE=Debug
      compiler: gcc
      addons:
        apt:
          sources: *sources
          packages: [*common_deps, 'g++-5', 'g++-5-multilib', 'libc6-dbg']
    - env: CXX=g++-5 CC=gcc BUILD_TYPE=Release
      compiler: gcc
      addons:
        apt:
          sources: *sources
          packages: [*common_deps, 'g++-5', 'g++-5-multilib', 'libc6-dbg']

    # GCC 6
    - env: CXX=g++-6 CC=gcc BUILD_TYPE=Debug
      compiler: gcc
      addons:
        apt:
          sources: *sources
          packages: [*common_deps, 'g++-6', 'g++-6-multilib', 'libc6-dbg']
    - env: CXX=g++-6 CC=gcc BUILD_TYPE=Release
      compiler: gcc
      addons:
        apt:
          sources: *sources
          packages: [*common_deps, 'g++-6', 'g++-6-multilib', 'libc6-dbg']

    # Clang 4
    - env: CXX=clang++-4.0 CC=clang-4.0 BUILD_TYPE=Debug
      compiler: clang
      addons:
        apt:
          sources: *sources
          packages: [*common_deps, 'clang-4.0', 'g++-multilib', 'libc6-dbg']
    - env: CXX=clang++-4.0 CC=clang-4.0 BUILD_TYPE=Release
      compiler: gcc
      addons:
        apt:
          sources: *sources
          packages: [*common_deps, 'clang-4.0', 'g++-multilib', 'libc6-dbg']

    # Clang 5
    - env: CXX=clang++-5.0 CC=clang-5.0 BUILD_TYPE=Debug
      compiler: clang
      addons:
        apt:
          sources: *sources
          packages: [*common_deps, 'clang-5.0', 'g++-multilib', 'libc6-dbg']
    - env: CXX=clang++-5.0 CC=clang-5.0 BUILD_TYPE=Release
      compiler: clang
      addons:
        apt:
          sources: *sources
          packages: [*common_deps, 'clang-5.0', 'g++-multilib', 'libc6-dbg']

install:
  - sudo easy_install lit # LLVM lit is not part of the llvm releases...

before_script:
  - cmake --version
  - $CC --version
  - $CXX --version
  - mkdir ../obj
  - |
    # LLVM utils such as FileCheck and not are not part of the llvm release.
    cd tools && for tool in FileCheck not; do
        svn export \
          http://llvm.org/svn/llvm-project/llvm/branches/release_50/utils/${tool} ${tool} ;
          echo "add_subdirectory(\"${tool}\")" >> CMakeLists.txt
      done
  - cd ../../obj
  - cmake -DCLAD_PATH_TO_LLVM_BUILD="/usr/lib/llvm-5.0/" ../clad
script:
  - |
    cmake --build . --target FileCheck -- -j4
    # lit's substitution mechanism will use llvm_obj_root to resolve FileCheck.
    # This expands FileCheck to the location of installed llvm.
    sudo ln -s `pwd`/bin/FileCheck /usr/lib/llvm-5.0/bin/FileCheck
  - cmake --build . --target check-clad -- -j4

branches:
  only:
    - master

notifications:
  recipients:
    - vvasilev@cern.ch
    - mrtn.vassilev@gmail.com
    - alexander_penev@yahoo.com

  email:
    on_success: change
    on_failure: always
  #irc:
  #channels:
    #- "chat.freenode.net#rubinius"
  template:
    - "%{repository}/%{branch} (%{commit} - %{author}): %{message}"

after_failure:
  - dpkg-query -L libclang-5.0-dev
  - find /usr/lib/llvm-5.0/
  - cat /home/travis/build/vgvassilev/clad/obj/CMakeFiles/*.log
