<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	
    <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">Compiler Research</a>
	</div>
	<div class="collapse navbar-collapse" id="navbar-collapse-1">
	  <ul class="nav navbar-nav navbar-right">
		<li><a href="{{ site.url }}{{ site.baseurl }}/team">Team</a></li>
<!--		<li><a href="{{ site.url }}{{ site.baseurl }}/collaborators">Collaborators</a></li> -->
		<li><a href="{{ site.url }}{{ site.baseurl }}/publications">Publications</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/presentations">Presentations</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/clad">Clad</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/cling">Cling</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/caas">CaaS</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/cpp">C++</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/meetings">Meetings</a></li>
	  </ul>
	</div>
  </div>
</div>
