name: clang-tidy-review

on:
  pull_request:
    paths:
      - '**.h'
      - '**.cpp'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  review:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout PR branch
        uses: actions/checkout@v3

      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@v1
        with:
          version: "12.0.0"

      - name: Run clang-tidy
        uses: ZedThree/clang-tidy-review@v0.13.2
        id: review
        with:
          build_dir: build
          exclude: "test/*,benchmark/*,demos/*"
          split_workflow: true
          cmake_command: >
            pip install cmake lit &&
            cmake --version &&
            cmake . -B build -DLLVM_DIR="$GITHUB_WORKSPACE/llvm"
            -DClang_DIR="$GITHUB_WORKSPACE/llvm"
            -DCMAKE_BUILD_TYPE="Release"
            -DLLVM_EXTERNAL_LIT="`which lit`"
            -DCMAKE_EXPORT_COMPILE_COMMANDS=On

      - name: Upload artifacts
        uses: ZedThree/clang-tidy-review/upload@v0.13.1
